.votingAreaConatiner,
.ZeroCountCandi,
.ElectionPhaseMain {
  position: absolute;
  left: 25rem;
  top: 0;
  min-width: calc(100vw - 27rem);
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #141d22;
}

.ZeroCountCandi,
.ElectionPhaseMain {
  justify-content: center;
}
.ZeroCountCandi h1 {
  font-size: 5.3rem !important;
  text-align: center;
}
.ElectionPhaseMain h1 {
  font-size: 5.3rem;
  text-align: center;
}

.modal_zz {
  height: 80vh;
  background: #12181b !important;
  color: white !important;
}
.btn-close {
  color: white !important;
  background-color: white !important;
}
.mainModal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.leftModalSide {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.leftModalSide img {
  width: 80%;
  max-height: 60vh;
  object-fit: cover;
}
.rightModalSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.rightModalSide h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

/* Candidates Part Css  */

.votingAreaMain {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.votingAreaMain h1 {
  margin-top: 2rem;
}
.candidates {
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
  min-width: 90%;
  max-width: 90%;
  flex-wrap: wrap;
  /* background: rgb(98, 1, 1); */
}

.candidateBox {
  /* margin-left: 5rem; */
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 1rem;
  /* background: rgb(20, 19, 19);
   */
  background: rgba(216, 244, 255, 0.132);

  width: 30%;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}

.candidateBox img {
  background-position: center;
  border-radius: 3px;
  width: 100%;
  height: 35rem;
  object-fit: cover;
}
.candidateName {
  margin-top: 1rem;
  width: 100%;
}
.candidateName h2 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
}
.candidateName h6 {
  display: none;
  pointer-events: none;
}
.btnGroupCan {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.infoCandidateBtn {
  width: 100%;
  font-size: 1.7rem;
  padding: 0.4rem 0;
  outline: none;
  background-color: #09c372;
  border-radius: 3px;
  border: none;
  transition: 0.2s;
  margin-right: 0.7rem;
}
.voteCandidateBtn {
  width: 100%;
  font-size: 1.7rem;
  padding: 0.4rem 0;
  outline: none;
  border: none;
  background-color: #3b82f6;
  border-radius: 3px;
  transition: 0.2s;
}

.voteCandidateBtn:hover,
.infoCandidateBtn:hover {
  transform: translateY(-3px);
}
